{% extends 'baseFront.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="container-fluid quote my-5 py-5" data-parallax="scroll" data-image-src="assets/img/carousel-2.jpg">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-white rounded p-4 p-sm-5 wow fadeIn" data-wow-delay="0.5s">
                    <h2 class="display-5 text-center mb-5">Greenta - Register</h2>
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                    <div class="row g-3">
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    {{ form_label(registrationForm.firstname ) }}
                                    {{ form_widget(registrationForm.firstname, {'attr': {'type':'name','class': 'form-control','id':'floatingInput', 'placeholder': 'firstname'}}) }}
                                    {{ form_errors(registrationForm.firstname ) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    {{ form_label(registrationForm.lastname) }}
                                    {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'lastname'}}) }}
                                    {{ form_errors(registrationForm.lastname) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    {{ form_label(registrationForm.email) }}
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'email'}}) }}
                                    {{ form_errors(registrationForm.email) }}
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-floating">
                                    {{ form_label(registrationForm.phone) }}
                                    {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control', 'placeholder': 'phone'}}) }}
                                    {{ form_errors(registrationForm.phone) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-floating">
                                   {{ form_label(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}, {
                                            label: 'Password'
                                        }) }}
                                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'password'}}) }}
                                    {{ form_errors(registrationForm.plainPassword) }}
                                </div>
                    </div>
                        </form>
                </div>
                    <div> </div>
        {{ form_row(registrationForm.agreeTerms) }}

                    <div class="col-12">
                        <a class="btn btn-primary w-100" type="submit" href="{{ path('app_acceuil') }}">{{ form_end(registrationForm) }}Register</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
