{% extends 'baseFront.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table">
  <thead>
    <tr>
      
      <th scope="col">title</th>
      <th scope="col">role</th>
      <th scope="col">org_name</th>
      <th scope="col">start_date</th>
      <th  scope="col">apply</th>
    </tr>
  </thead>
  <tbody>
  {% for view in v %}
    <tr>
      <td>{{ view.title }}</td>
      <td>{{ view.role }}</td>
      <td>{{ view.OrgName }}</td>
      <td>{{ view.StartDate }}</td>
      <td><a href="{{ path('addApp', {'id': view.id}) }}">apply</a></td>
      
      
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}