{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-container'}}) }}
    <div class="form-group">
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
           {% if form_errors(form.titre) %}
            <span class="text-danger">{{ form_errors(form.titre) }}</span>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.duree) }}
        {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
             {% if form_errors(form.duree) %}
            <span class="text-danger">{{ form_errors(form.duree) }}</span>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.note) }}
        {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
           {% if form_errors(form.note) %}
            <span class="text-danger">{{ form_errors(form.note) }}</span>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.nbrq) }}
        {{ form_widget(form.nbrq, {'attr': {'class': 'form-control'}}) }}
           {% if form_errors(form.nbrq) %}
            <span class="text-danger">{{ form_errors(form.nbrq) }}</span>
        {% endif %}
    </div>
    

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<style>
    .form-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>
